.contact {
  width: 100%;

  align-items: center;
  justify-content: space-between;

  font-size: 1.8rem;
}

.fake-img {
  background-color: var(--dark-pink);
  padding: 2rem;
  text-transform: uppercase;

  clip-path: circle();
}

.name {
  font-size: 2rem;
}

.number {
  opacity: 0.5;
}
