header {
  background-color: var(--darker-purple);
  border-radius: 0.8rem;
  flex-direction: column;

  padding: 4rem 3rem;
}

.head {
  justify-content: space-between;
  align-items: baseline;

  font-size: 1.6rem;

  margin-bottom: 3rem;
}

.head-icons {
  font-size: 2.5rem;
  gap: 1rem;
}

form {
  width: 100%;
  align-self: center;
}

form input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--dark-purple);
  padding: 1rem;
  border-radius: 0.8rem;
}

.contacts-container {
  flex-direction: column;
  align-items: center;
}
