:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark-purple);

  --darker-purple: hsla(245, 18%, 10%, 1);
  --dark-purple: hsl(240, 25%, 21%);
  --violet: hsl(240, 25%, 64%);
  --dark-violet: hsl(259, 52%, 48%);
  --dark-pink: hsl(292, 100%, 35%);
  --blueish-green: hsl(194, 100%, 35%);
  --green: hsl(177, 90%, 27%);
  --yellow: hsl(47, 100%, 35%);

  --white: hsl(240, 9%, 89%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
